#events {
	flex-grow: 1;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid lightgrey;
	overflow-y: scroll;
	height: 110px;
}
#events li {
	padding: 10px 10px 10px 10px;
}
.chat-wrapper {
	padding: 10px;
	margin: 0px, auto;
}
.chat-wrapper form {
	display: flex;
}
.chat-wrapper form input {
	font-size: 1.0rem;
	margin: 0 10px 0 0;
	padding: 0 5px;
	flex-grow: 1;
}
.chat-wrapper form button {
	width: 80px;
}